In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

import warnings
warnings.filterwarnings("ignore")

In [3]:
# Load the dataset
df = pd.read_parquet('../data/processed/electricity_sales.parquet')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   period  294 non-null    datetime64[ns]
 1   sales   294 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.7 KB

In [4]:
y = df.set_index('period')

In [6]:
order, seasonal_order = (1, 1, 1), (1, 1, 1, 12)
sarima_model = SARIMAX(y, order=order, seasonal_order=seasonal_order,
                                enforce_stationarity=False, enforce_invertibility=False).fit(disp=False)

In [7]:
pred = sarima_model.forecast(steps=1)
pred

2025-07-01    4140.787404
Freq: MS, dtype: float64

In [10]:
float(pred.iloc[0])

4140.787403960544

In [11]:
df.set_index('period')

                 sales
period
2001-01-01  2337.54938
2001-02-01  2014.65228
2001-03-01  1968.49312
2001-04-01  1739.08206
2001-05-01  1677.70854
...                ...
2025-02-01  2241.10250
2025-03-01  2020.35897
2025-04-01  1791.92457
2025-05-01  1901.98114
2025-06-01  3148.66729

[294 rows x 1 columns]